#root {
  margin: 0 auto;
  text-align: center;
}

.box-save{
  background-color: white;
  color: black;
  border-radius: 1%;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0  20px;
  margin: 130px 20px 0 10px;
  justify-content: center;
}

.box-save h1{
  height: auto;
  font-weight: bold;
  text-align: left;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  font-size: 55px;
  margin: 10px 0 0 0;
}

.box-save p{
  height: auto;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin: 0 0;
}

.box-save hr{
  width: 100%;
  height: 5px;
  border: none;
  background-color: black;
}

/* CSS de saveEvent.jsx */
.form-save{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;  
}

.form-save h2{
  font-weight: bolder;
  font-variant: small-caps;
  margin: 0 0;
  font-synthesis-small-caps: auto;
}

.form-save p{
  font-size: 13px;
  font-style: inherit;
  color: rgb(118, 117, 117);
  margin: 0 0;
}

.form-save input#title{
  width: 90%;
  right: 35px;
  height: 30px;
}

.form-save input{
  width: 85%;
  right: 35px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #2A313B;
  padding-bottom: 3px;
  outline: none;
}
.form-save select{
  width: 85%;
  right: 35px;
  height: 30px;
}

.form-save textarea{
  width: 90%;
  right: 35px;
  height: 100px;
  resize: none;
}

.title{
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.date{
  grid-column: 1 / 2;
  grid-row: 4 / 7;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.duration{
  grid-column: 2 / 3;
  grid-row: 4 / 7;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.sponsor{
  grid-column: 1 / 2;
  grid-row: 7 / 10;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.category{
  grid-column: 2 / 3;
  grid-row: 7 / 10;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.location{
  grid-column: 1 / 2;
  grid-row: 10 / 13;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.image{
  grid-column: 1 / 3;
  grid-row: 13 / 16;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 0;
}

.dropzone {
  grid-column: 1 / 3;
  grid-row: 13 / 16;
  width: 87%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}

.dropzone.active {
  background-color: rgb(25, 25, 25);
}

.dropzone p {
  margin: 0 110px;
}

.dropzone.active p {
  margin: 0 110px;
}

ul#files {
  padding-left: 20px;
}

.description{
  grid-column: 1 / 3;
  grid-row: 16 / 19;
  text-align: left;
  text-decoration: none;
  margin: 0 0 0 0;
}

.button{
  grid-column: 1 / 3;
  grid-row: 19 / 20;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 0;
  
}

.ContinueButton{
  padding: 10px 25px;
  width: 50%;
  background-color: #41E250;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  transition: 0.5s all;
  cursor: pointer;
  position: relative;
  left: 16%;
  margin: 20px 10px;
}

.ContinueButton:hover{
  background-color: #30da41;
  transform: scale(1.10);
}

/* CSS de ticketEvent.jsx */
.vip{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  text-align: left;
  text-decoration: none;
  margin: 10px 0;
}

.premiun{
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  text-align: left;
  text-decoration: none;
  margin: 10px 0;
}

.standar{
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  text-align: left;
  text-decoration: none;
  margin: 10px 0;
}

.basic{
  grid-column: 1 / 3;
  grid-row: 7 / 9;
  text-align: left;
  text-decoration: none;
  margin: 10px 0;
}

.sunBasic{
  grid-column: 1 / 3;
  grid-row: 9 / 11;
  text-align: left;
  text-decoration: none;
  margin: 10px 0;
}

.shadowBasic{
  grid-column: 1 / 3;
  grid-row: 11 / 13;
  text-align: left;
  text-decoration: none;
  margin: 10px 0;
}

input[type="checkbox"]{
  width: 40px;
  height: 40px;
  margin: 0 10px;
}