* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 180%;
    background-color: #1c262f;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    position: fixed;
    top: -4rem;
    left: 0;
    right: 0;
    background-color: #1c262f;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    font-size: 25px;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    line-height: auto;
    border-style: hidden;
    outline: none;
    width: 150px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a:hover {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-list {
    padding-right: 1.5rem;
    margin: 0.5rem;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li:not(:last-child) {
    margin-right: 18px;
    /* Ajusta el valor según la separación deseada */
}

.nav-list li a {
    text-decoration: none;
    right: 12rem;
    color: #ffffff;
}

.active::after {
    content: "";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
}

/* .all::after{
    content:"";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
}
.new:hover::after{
    content:"";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
}
.cultural:hover::after{
    content:"";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
}
.artistic:hover::after{
    content:"";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
}
.searchI:hover::after{
    content:"";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
}
.cartI:hover::after{
    content:"";
    display: block;
    width: 110%;
    height: 3px;
    background-color: #41E250;
} */
.abrir-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .barsI {
        display: block;
    }

    /* .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c262f;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    } */

    .nav-list {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: #1c262f;
        flex-direction: column;
        transform: translateX(100%);
    }

    .nav-list li a {
        color: white;
    }
}

.menu-container {
    width: 250px;
    /* Ancho del menú lateral */
    background-color:#1c262f;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}
ul li{
    list-style: none;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
    /* Espacio adicional para evitar que el contenido se superponga con el menú */
}

/*CSS de cartas*/
.sectionCards {
    margin-top: 75px;
    color: #000000;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    max-width: 1200px;
}

.card {
    width: 300px;
    height: auto;
    margin: 40px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: -90px;
}

.card .title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.text {
    font-size: 14px;
    margin-top: 5px;
    color: #000000 !important;
}

.card .price {
    font-size: 16px;
    margin-top: 10px;
    color: #000000 !important;
}

.card .buy-btn {
    background-color: #41e250;
    color: #ffffff !important;
    padding: 12px 100px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.card .buy-btn:hover {
    transform: scale(1.10);
}