* {
    margin: 0;
    box-sizing: border-box;
}

.h1Login {
    font-family: "sProDisplay", sans-serif;
    font-weight: bold;
    font-size: 35px;
}

body {
    background: #1C262F;
    margin: 0;
}

@font-face {
    font-family: "monserratRegular";
    src: url(https://fonts.cdnfonts.com/css/montserrat);
    font-family: "sProDisplay";
    src: url(https://fonts.cdnfonts.com/css/sf-pro-display);

}



.cover {
    background: #2A313B;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formElement {
    margin-bottom: -2em;
    font-family: "monserratRegular";
}

.formElement input {
    font-size: 15px;
    color: #fff;
    background-color: #2A313B;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    outline: none;
    width: auto;
}

input:focus {
    border-bottom: 1px solid #41E250;
}

form>div {
    line-height: 1.5em;
}

.loginBtn {
    width: 100%;
    height: 3em;
    background-color: #41E250;
    display: flex;
    justify-content: center;
    font-family: 'monserratRegular', sans-serif;
    font-weight: bold;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin-bottom:10px;
}

.loginBtn:hover {
    transform: scale(1.10);
}

.loginGoogle {
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    font-family: 'monserratRegular', sans-serif;
    transition: background-color 0.3s ease;

}

.loginGoogle:hover {
    background-color: #f2f2f2;
}

.loginGoogle:focus {
    outline: none;
}
.loginGoogle .googleIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
}
.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
