.sectionCards {
    margin-top: 75px;
    color: #000000;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
/*Se usa para limitar los contenedores*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    max-width: 1200px;
}

.card {
    width: 300px;
    height: auto;
    margin: 40px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: -90px;
}

.card .title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.text {
    font-size: 14px;
    margin-top: 5px;
    color: #000000 !important;
}

.card .price {
    font-size: 16px;
    margin-top: 10px;
    color: #000000 !important;
}

.card .buy-btn {
    background-color: #41e250;
    color: #ffffff !important;
    padding: 12px 100px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.card .buy-btn:hover {
    transform: scale(1.10);
}

/*Buscador*/
.main-container {
    position: relative;
}

.search-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-input {
    display: flex;
    color: #000000;
    align-items: center;
    border: 2.5px solid #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 4px;
    padding: 8px;
}
.inputSearch {
    background-color: #D9D9D9;
    color: #000000;
}

.inputSearch {
    background-color: #D9D9D9;
    color: #000000;
}

.search-input label {
    margin-right: 8px;
    color: black;
}

.search-input input {
    border: none;
    color: black;
    outline: none;
    padding: 4px;
    width: 400px;
}

.search-icon {
    margin-left: 8px;
    color: black;
}

.sectionCards {
    margin-top: 50px;
}