:root{
    height: auto;
}
/* Componentes CSS para Vista: Statistics de cada evento seleccionando su tarjeta */
button.stdst-btn{
    background-color: #4942E4;
    color: #ffffff;
    padding: 12px 80px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    cursor: pointer;
}

button.stdst-btn:hover{
    transform: scale(1.10);
}

/* Componente CSS para Vista: ViewStatistic  */
.charContainer{
    margin-top: 200px;
}

.charContainer>button{
    display: flex;
    background-color: #707070;
    color: #ffffff;
    padding: 12px 80px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px 10px;
}
.charContainer>button:hover{
    transform: scale(1.10);
}

.charContainer h1{
    color: #FFFFFF;
    margin: 10px auto;
}

.ticketCards{
    display: flex;
    flex-direction: row;
}

.ticketCards p{
    grid-row: 1 / 2;
    font-size: 16px;
    font-weight: bold;
}

.ticketCards h2{
    grid-row: 2 / 3;
}

.dataTickets{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 200px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #4949A5;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0 20px;
    justify-items: stretch;
    align-content: center;
    align-items: stretch;
}

.dataTickets1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 200px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #6197F1;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0 20px;
    justify-items: stretch;
    align-content: center;
    align-items: stretch;
}

.dataTickets2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 200px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #CC3366;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0 20px;
    justify-items: stretch;
    align-content: center;
    align-items: stretch;
}

.locationChar{
    display: flex;
    flex-direction: row;
    background-color: #F2F4F5;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
    width: 100%;
}

.eventPieChar{
    display: flex;
    flex-direction: column;
    background-color: #F2F4F5;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 600px;
}